language = "nodejs"
entrypoint = "package.json"
run = "npm run start:replit"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
build = ["bash", "-c", "npx prisma generate --schema=apps/web/prisma/schema.prisma && npx prisma db push --accept-data-loss --schema=apps/web/prisma/schema.prisma && npm run build"]
run = ["bash", "-c", "cd apps/web && npx next start -H 0.0.0.0 -p 5000"]
ignorePorts = true
deploymentTarget = "autoscale"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev --workspace=apps/web"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
